@import url(_reset.css);
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Inter:wght@600;700&display=swap');

.body {
    color: #FFFFFF;

    min-height: 100vh;

    background: rgb(0, 0, 0);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(1, 8, 14, 1) 25%, rgba(80, 94, 255, 0.85) 50%, rgba(1, 8, 14, 1) 75%, rgba(0, 0, 0, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem;
}

@media screen and (min-width: 1440px) {
    .body {
        padding: 2rem calc((100vw - 1086px)/2);
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashbord_logo{
    
    border-radius: 2rem;
    border-width: 3px;
    border-style: solid;
    border-color: #00F4BF;

    height: 70px;
    width: 250px;

    

}

.divisor {
    display: flex;
    gap: 53px;
    align-items: center;

    margin: 10px 0px 0px;
}

.divisor__line {
    height: 1px;
    width: 282px;
    background-color: #00F4BF;
}

.page-title {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 4rem;

    margin-bottom: 0px;
}

.page-title__emphasis {
    color: #505EFF;
}

.dashboard {
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 2rem;
    border-width: 2px;
    border-style: solid;
    border-color: #00F4BF;

    padding: 2rem 2rem 2rem 2rem;
    align-items: center;
    width: auto;
}

.dashboard__items {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.dashboard__items__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-family: 'Inter', sans-serif;
}

.dashboard__item__img--rented {
    position: relative;
}

.dashboard__item__img--rented::after {
    content: "";
    display: flex;
    align-items: center;
    width: 90.5%;
    height: 84%;

    position: absolute;
    top: 16px;
    
    background-image: url(../img/venda.png);
    /*background-color: rgba(249, 3, 3, 0.4);*/
}
.dashboard__item__img {

    padding: 1rem 1rem 1rem 1rem;
}

.dashboard__item__name {
    display: flex;
    justify-content: center; /* Espaço entre os lados */
    width: 100%; /* Garante que o container ocupe toda a largura */
    
    font-weight: 200;
    font-size: 4rex;

    margin-bottom: 1.5rem;
}

.dashboard__item__button {
    display: flex;
    justify-content: center; /* Espaço entre os lados */ /* Permite quebrar linha se necessário */
    width: 60%; /* Garante que o container ocupe toda a largura */

    font-weight: 700;
    font-size: 1.5rem;

    padding: 1rem 3.5rem;
    min-width: 13rem;

    border-radius: 1rem;
    cursor: pointer;
    background-color: #1875E8;
}


.dashboard__item__button--return {
    background-color: #FF0000;
}

.hachuras {
    margin-top: 1.5rem;
    margin-right: 33px;
    align-self: flex-end;
}

.dashboard__valor {
    display: flex;
    justify-content: center; /* Espaço entre os lados */
    flex-wrap: wrap; /* Permite quebrar linha se necessário */
    width: 60%; /* Garante que o container ocupe toda a largura */
    
    border-radius: 1rem;
    background: var(--Void, #01080E);
    box-shadow: 0px 0px 20px 0px rgba(1, 8, 14, 0.50);

     color: var(--Branco, #077ef5);
    
    font-weight: 200;
    font-size: 4rex;

    margin-bottom: 1.5rem;
}

.container-botoes {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 90%;
    position: relative;
    gap: 0.5rem;
}

.btn-icon {
    display: flex;
    align-items: center; /* Centraliza a imagem e o texto verticalmente */
    padding: 10px 10px;
    background-color: transparent; /* Remove cor de fundo */
    border: none;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.btn-icon__img {
    width: 40px; /* Largura da imagem */
    height: 40px; /* Altura da imagem */
    margin-right: 1px; /* Espaço entre a imagem e o texto */
}

.btn-icon:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}

.btn-perfil {
    display: flex;
    align-items: center; /* Centraliza a imagem e o texto verticalmente */
    padding: 10px 10px;
    background-color: transparent; /* Remove cor de fundo */
    border: none;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.btn-icon__perfil {
    width: 40px; /* Largura da imagem */
    height: 40px; /* Altura da imagem */
    margin-right: 1px; /* Espaço entre a imagem e o texto */
}

.btn-perfil:hover {
    background-color: #eff2f560; /* Cor ao passar o mouse */
}


.quantidade-input {
    display: flex;
    height: 3.5rem;
    padding: 1rem;
    width: 4.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--Light-Blue, #1875E8);
  
    color: var(--Void, #01080E);
    font-family: Inter;
    font-size: 1.3125rem;
    font-style: italic;
    font-weight: 400;
    line-height: 110%;
  }

.botoes-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 1rex;
    line-height: 110px;
  }

.campo-grupo {
    display: flex;
    flex-direction: grid;
    align-items: center;
    gap: 1rem;
}

.parte-inferior {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    margin: 10px;
}
.texto-medio-azul {
    color: var(--Light-Blue, #ffffff);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
}

.botao-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 3.25rem;
    padding: 1rem 1.5rem;
    gap: 0.625rem;
    border-radius: 1rem;
    cursor: pointer;
    line-height: 110px;
  }
  
.botao-adicionar {
    background: var(--Light-Blue, #1875E8);
    box-shadow: 0px 0px 20px 0px rgba(24, 117, 232, 0.50);
  
    color: var(--Branco, #FFF);
    font-size: 2rex;
    font-weight: 700;

    
  }
  

